
.calculator {
  width: 400px;
  background-color: #ffffff72;
  border: 2px solid #878787;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);;
  align-self: center;
  font-weight: lighter;
  backdrop-filter: blur(10px);
}

.display {
  background-color: #012d45;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 1.5rem;
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: right;
}

.current-value {
  font-size: 2rem;
}


.result {
  font-size: 1rem;
  color: #aaa;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.operators {
    background-color: #2080ca;
    
}

.operators:hover {
    background-color: #0d9bf4;
}

.operators:active {
    background-color: #2080ca;
}

button {
  padding: 20px;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #0d9bf4;
  color: #fff;
  cursor: pointer;
  box-shadow: 3px 3px 0px #222;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2080ca;
  border: 1px solid black;
}

button:active {
  background-color: #0d9bf4;
  box-shadow: 0px 0px 0px #222;
  transform: translateY(3px) translateX(3px);
}